@import "bootstrap";

  body {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f3f3f2;
  }

  p {
    padding-left: 1em;
  }

  .list-group-item {
    background-color: #f3f3f2;
  }

  .list-group {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card {
    background-color: #f8fbf8;
  }
